.cardGreen {
    background-color: rgb(177, 223, 208);
    padding: 7px;
}

.cardRed {
    background-color: rgb(211, 211, 211);
    padding: 7px;
}


.cardYellow {
    background-color: rgb(239, 149, 132);
    padding: 7px;

}

.cardBlue {
    background-color: rgb(173, 205, 219);
    padding: 7px;

}